@charset "UTF-8";
/* CSS Document */


body{
	background-color: #b5d1d9;
	font-family: serif;
	margin: 0;
}

.問題 img {
	width: 100%;
}

.フッター {
	height: 150px;
	text-align: center;
	font-size: 16px;
	color: black;
	padding-top: 10px;
}	

a:link {color: ghostwhite; text-decoration: none;}
a:visited {color: ghostwhite;}
a:hover {color: black;}
a:active {color: #6CA0AC;}